body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em auto;
    width: 600px;
    padding: 0 2em 0;
    border: 1px solid black;
    border-radius: 1em;
}
h1 {
    color: cornflowerblue;
}
div {
    margin-bottom: 1em;
}
label {
    display: inline-block;
    width: 11em;
    text-align: right;
}
input {
    margin-left: 1em;
    margin-right: 0.5em;
}
span {
    color: red;
}